@page "/"

<PageTitle>S3 File Manager</PageTitle>

<div class="container py-3">
    <h1 class="h4 mb-3">S3 File Manager</h1>
    <SfFileManager TValue="FileManagerDirectoryContent" Height="600px" RootAliasName="AirParsiana" Path="/">
        <FileManagerAjaxSettings Url="/api/files/operations"
                                 UploadUrl="/api/files/upload"
                                 DownloadUrl="/api/files/download" />
    </SfFileManager>
</div>
